<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'SpeeechRecognize' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>335e49c4-ddb8-4ecf-ae36-aba3c9f6cac4</InstrumentationKey>
</ApplicationInsights>